html {
    font-size: 20px;
}

.container-movie-search {
    padding: 12px;
    padding-top: 32px;

    .input-container {
        margin-top: 28px;
        input {
            padding: 2px 6px;
            font-size: 16px;
        }
        button {
            font-size: 16px;
            padding: 2px 4px;
        }
    }

    .list-movies {
        margin-top: 28px;
        display: flex;
        flex-wrap: wrap;
    }
}
